body {
  margin: 0;
  font-family: "Circe", Arial, sans-serif;
  width: 100%;
}

button {
  padding: 0;
  background: none;
  border: none;
  outline: none;
}

.header {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.container {
  max-width: 1280px;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

.main {
  padding: 180px 0 80px 0;
}
@media screen and (max-width: 800) {
  .main {
    padding: 124px 0 56px 0;
  }
}
@media screen and (max-width: 768px) {
  .main {
    padding: 196px 0 80px 0;
  }
}

.first-article {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media screen and (max-width: 1024px) {
  .first-article {
    display: block;
  }
}
.first-article .main-article-img {
  max-width: 800px;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .first-article .main-article-img {
    margin-bottom: 24px;
  }
}
.first-article .article-text-wrapper {
  min-height: 440px;
  max-width: 360px;
}
@media screen and (max-width: 1024px) {
  .first-article .article-text-wrapper {
    max-width: 649px;
    min-height: 280px;
  }
}
.first-article .article-span {
  font-size: 18px;
}
.first-article .article-headline {
  margin: 16px 0 24px 0;
}
@media screen and (max-width: 1024px) {
  .first-article .article-headline {
    margin: 16px 0;
    min-height: 44px;
  }
}
.first-article .article-para {
  display: block;
}

.article {
  margin-bottom: 80px;
}
@media screen and (max-width: 1024px) {
  .article {
    margin-bottom: 40px;
    max-width: 649px;
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (max-width: 539px) {
  .article {
    display: block;
  }
}

.article-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 290px;
}
@media screen and (max-width: 1024px) {
  .article-text-wrapper {
    min-height: 154px;
    max-width: 419px;
  }
}
@media screen and (max-width: 719px) {
  .article-text-wrapper {
    max-width: 308px;
  }
}
@media screen and (max-width: 539px) {
  .article-text-wrapper {
    min-height: 100px;
  }
}

.article-headline {
  font-size: 30px;
  line-height: 100%;
  color: #000000;
  font-weight: 700;
  margin: 10px 0 0 0;
  min-height: 108px;
}
@media screen and (max-width: 1024px) {
  .article-headline {
    font-size: 22px;
    line-height: 100%;
  }
}
@media screen and (max-width: 539px) {
  .article-headline {
    min-height: 45px;
  }
}

.article-span {
  font-size: 16px;
  line-height: 135%;
  color: #828282;
  font-weight: 700;
}

.article-para {
  font-size: 18px;
  line-height: 135%;
  color: #828282;
  margin: 0;
}
@media screen and (max-width: 1024px) {
  .article-para {
    display: none;
  }
}

.first-para {
  margin-bottom: 25px;
}

.article-author-wrapper {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 539px) {
  .article-author-wrapper {
    margin-top: 12px;
  }
}

.article-author-background {
  max-width: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 8px 0 0;
}
.article-author-background.blue-bg {
  background-color: #3470F3;
}
.article-author-background.yellow-bg {
  background-color: #f3cb2a;
}

.article-author-img {
  max-width: 26px;
  min-height: 26px;
  border-radius: 50%;
}

.author-icon {
  max-width: 16px;
}

.article-author-name {
  margin-right: 20px;
}

.article-author-look {
  margin-right: 8px;
}

.other-articles {
  margin: 80px 0 0 0;
  display: grid;
  grid-template-columns: repeat(3, 360px);
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .other-articles {
    grid-template-columns: 100%;
  }
}

.main-article-img {
  max-width: 360px;
  min-height: 275px;
  object-fit: cover;
}
@media screen and (max-width: 1024px) {
  .main-article-img {
    max-width: 200px;
    min-height: 154px;
    object-fit: cover;
  }
}
@media screen and (max-width: 719px) {
  .main-article-img {
    max-width: 168px;
    min-height: 155px;
  }
}
@media screen and (max-width: 539px) {
  .main-article-img {
    width: 100%;
    max-width: 100%;
    min-height: 250px;
  }
}

.select-articles-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 890px;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .select-articles-wrapper {
    position: relative;
    padding-top: 78px;
  }
}
@media screen and (max-width: 719px) {
  .select-articles-wrapper {
    position: relative;
    padding-top: 78px;
  }
}

@media screen and (max-width: 719px) {
  .opened-articles-select-wrapper {
    padding-top: 0;
  }
}

.arrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 221px;
  min-height: 50px;
  padding: 12px 40px;
  border: 2px solid #E4E4E4;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 20px;
  line-height: 27px;
  font-weight: 700;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .arrow {
    min-width: 170px;
    padding: 8px 10px;
    justify-content: center;
    min-height: 40px;
  }
}
@media screen and (max-width: 719px) {
  .arrow {
    padding: 15px 57px;
  }
}
@media screen and (max-width: 539px) {
  .arrow {
    padding: 15px 0;
    min-width: 130px;
    width: 50%;
  }
  .arrow:not(:last-of-type) {
    margin-right: 16px;
  }
}

.arrow:hover {
  border: 2px solid #12C9D3;
  color: #12C9D3;
}

.arrow-left-img {
  margin-right: 6px;
}
@media screen and (max-width: 1024px) {
  .arrow-left-img {
    margin-right: 0;
  }
}

.arrow-span {
  font-size: 18px;
  font-weight: 700;
}
@media screen and (min-width: 1024px) {
  .arrow-span {
    font-size: 13px;
    line-height: 135%;
  }
}

@media screen and (max-width: 1024px) {
  .arrow-left span {
    font-size: 16px;
    line-height: 135%;
    margin-left: 3px;
  }
}
@media screen and (max-width: 539px) {
  .arrow-left span {
    font-size: 14px;
  }
}

@media screen and (max-width: 1024px) {
  .arrow-right span {
    font-size: 16px;
    line-height: 135%;
    margin-right: 3px;
  }
}
@media screen and (max-width: 539px) {
  .arrow-right span {
    font-size: 14px;
  }
}

.arrow-span-article {
  margin-right: 6px;
}

.articles-page {
  border: 2px solid #E4E4E4;
  box-sizing: border-box;
  border-radius: 3px;
  min-width: 50px;
  min-height: 50px;
  font-size: 18px;
  line-height: 135%;
  font-weight: 700;
  outline: none;
}
@media screen and (max-width: 1024px) {
  .articles-page {
    min-width: 38px;
    min-height: 40px;
    margin-right: 16px;
  }
  .articles-page.no-margin-button {
    margin-right: 0;
  }
}
@media screen and (max-width: 719px) {
  .articles-page {
    min-width: 60px;
    min-height: 54px;
  }
}
@media screen and (max-width: 539px) {
  .articles-page {
    min-width: 50px;
    min-height: 50px;
  }
}

@media screen and (max-width: 1024px) {
  .articles-page-hidden {
    display: none;
  }
}

.articles-page:hover {
  border: 2px solid #12C9D3;
  color: #12C9D3;
}

.current-page {
  background-color: #12C9D3;
  color: #FFFFFF;
  border: 2px solid #12C9D3;
}
.current-page:hover {
  color: #FFFFFF;
  border: 2px solid #E4E4E4;
}

@media screen and (max-width: 1024px) {
  .select-page-interlude {
    margin-right: 16px;
  }
}

.pages-button-wrapper {
  min-width: 390px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .pages-button-wrapper {
    min-width: 231px;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 719px) {
  .pages-button-wrapper {
    position: absolute;
    top: 0;
    margin: 0 calc((100% - 324px)/2);
    min-width: 324px;
  }
}
@media screen and (max-width: 539px) {
  .pages-button-wrapper {
    left: 0;
    margin: 0 calc((100% - 280px)/2);
    min-width: 280px;
  }
}